<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h2>TODO List</h2>
    <input type="text" v-model="newItem">
    <button v-on:click="addItem">add</button>
    <p>{{ $data }}</p>

    <ul>
      <li v-for="(task, key) in tasks">
        <input type="checkbox" v-model="task.isDone">
        {{ task.item }}
        <button v-on:click="deleteTask(index)">delete</button>
      </li>
    </ul>
  </div>
  <script src="main.js"></script>
</body>
</html>
